node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# data
/raw_xml
/node_modules

#misc
/venv

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

pipeline/josephus_pipeline/__pycache__/

sources/perseus-eng/tlg0526.tlg001.perseus-eng2.xml

sources/perseus-eng/tlg0526.tlg002.perseus-eng2.xml

sources/perseus-eng/tlg0526.tlg003.perseus-eng2.xml

sources/perseus-eng/tlg0526.tlg004.perseus-eng2.xml

sources/perseus-grc/tlg0526.tlg001.perseus-grc2.xml

sources/perseus-grc/tlg0526.tlg002.perseus-grc2.xml

sources/perseus-grc/tlg0526.tlg003.perseus-grc2.xml

sources/perseus-grc/tlg0526.tlg004.perseus-grc2.xml
